# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/node_modules
client/.pnp
client/.pnp.js
server/node_modules

# testing
/coverage

# production
client/build
client/dist
client/.eslintcache

# misc
client/.env
client/.DS_Store
client/.env.local
website/.env.development.local
client/.env.test.local
client/.env.production.local

server/.env
server/.DS_Store
server/.env.local
server/.env.development.local
server/.env.test.local
server/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
